body {
    background-image: url(joey-nicotra-411885-unsplash.jpg);
    background-size: cover;
}

#gambar1{
    height: 500px;
    width: auto;   
}

h3{
    color: white;
}

section{
    padding-top: 100px;
}

.alert {
    width: 250px;
    
}

table {
    background-color: #E74C3C;
}

#tabel {
    border-radius: 25px; !important;
}

#logo { 
    float: right;
    padding-right: 45px;
    padding-top: 5px;
}

.animate {
    transition: 1s;
}

.animate:hover {
     -webkit-transform: rotateY(130deg); 
    transform: rotateY(130deg);  
    
}

#footer {
    color: white
}
