#profil {
    width: 550px;
    height: 350px;
    border-radius: 8px;
    padding: 15px;
    -webkit-filter: grayscale(100%);filter: grayscale(100%);
    
}

body {
    background-color: black;
    color: #ff3333;
}
h2 {
    color: black;
}

#rating {
    width: 24px;
    height: 24px;
}

td {
    padding: 3px;
}

#atas {
    width: 36px;
    height: 36px;
}

#bawah {
    width: 64px;
    height: 64px;
}

#panel {
    width: 550px;
    height: 68px;
    border-color: #ff3333;
    
}
#tb1{
    color: white;
}