body{
    background-color: black;
    padding: 100px;
}



#gambar1 {
        width: 500px;
    height: auto;
    border-radius: 20px;

}

#gambar2 {
    width: 150px;
    height: 150;
}

#gambar3 {
    width: 150px;
    height: 150;
}

#gambar4 {
    width: 150px;
    height: 150;
}

#gambar5 {
    width: 150px;
    height: 150;
}
      



.atas{
      background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.tengah {
   
    background-color: white;
    padding-top: 100px;
   
}

table {
     background-color: dimgrey;
    border-radius: 20px; !important;
    color: white;
    
}



